header {
	text-align: center;
	width: 100%;
	border-radius: 0 0 85% 85% / 30%;
  background: #f44336;
	color: white;
  box-shadow: 0 10px 8px #888888;
  margin-bottom: 13px;
	font: 500 1.5vw "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

footer {
	margin: 1vw;
}

.content {
	width: 100%;
	padding: 5px 0;
	background: white;
	border-bottom: solid gray 1px;
	border-top: solid gray 1px;
}

.items {
	max-width: 100%;
}

input[type="number"] {
  width: 40px;
  margin-left: 5px;
}

.load-btn {
}

@media all and (min-width: 768px) {
	.content {
		width: 75vw;
		margin: auto;
		padding: 10px 5px 10px 10px;
		border: solid gray 1px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		min-width: 768px;
		max-width: 1240px;
	}
}
